.card {
  border: none;
}

.maincard {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  align-items: center;
  justify-content: center;
}
.usercard {
  line-height: 5px;
}

.userp {
  font-weight: 300;
  font-size: 15px;
}

.padding-table-columns td th {
  padding: 0px 0px 0px 80px;
}

.btn-warning {
  background-color: rgb(254, 178, 63);
  font-weight: 600;
}
.text-left {
  position: absolute;
  left: 22px;
}

.devider {
  width: 1px;
  background-color: black;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 18px;
}

.line-height {
  line-height: 5px;
}

.times {
  line-height: 0px;
  margin-top: 5px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.desc {
  font-size: 10px;
}
