.name {
  font-size: 12px;
  font-weight: bold;
}

.email {
  font-size: 10px;
}

table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 1em;
}

.flex-column {
  line-height: 13px;
}
.avatar {
  margin-top: -5px;
  margin-right: 5px;
}
.form-select {
  background-color: rgb(227, 231, 233);
  width: 115px;
  height: 25px;
  border: none;
}
.pointer {
  cursor: pointer;
}
